#box_1{
    background-color: rgb(226, 134, 58);
    height: 200px;
    position: relative;
    width: 200px;
}

#box_2{
    background-color: rgb(230, 183, 55);
    height: 200px;
    position: relative;
    width: 200px;
}

#box_3{
    background-color: rgb(211, 243, 69);
    height: 200px;
    position: relative;
    width: 200px;
}