#box_1{
    background-color: rgb(230, 230, 59);
    height: 200px;
    left: 0;
    position: absolute;
    top: 0;
    width: 200px;
}

#box_2{
    background-color: rgb(62, 27, 143);
    height: 200px;
    right: 0;
    position: absolute;
    top: 0;
    width: 200px;
}

#box_3{
    background-color: rgb(204, 46, 54);
    bottom: 0;
    height: 200px;
    left: 0;
    position: absolute;
    width: 200px;
}

#box_4{
    background-color: rgb(74, 187, 74);
    bottom: 0;
    height: 200px;
    position: absolute;
    right: 0;
    width: 200px;
}

div > div{
    background-color: whitesmoke;
    height: 50px;
    left: 75px;
    position: absolute;
    top: 75px;
    width: 50px;
}
