#box_1{
    background-color: rgb(92, 247, 226);
    height: 200px;
    position: static;
    width: 200px;
}

#box_2{
    background-color: rgb(48, 199, 149);
    height: 200px;
    left: 200px;
    position: relative;
    width: 200px;
}

#box_3{
    background-color: rgb(9, 122, 70);
    height: 200px;
    position: static;
    width: 200px;
}