#box_1 { 
	position: absolute; 
	top: 0;
	right: 20%;
	bottom: 0;
	left: 0; 
	background: rgb(243, 176, 223); 
}
#box_2 { 
	position: absolute; 
	top: 0;
	right: 0; 
	bottom: 0; 
	left: 80%; 
	background: rgb(226, 223, 223);
}
